body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
  font-family: "Arial Black";
  font-size: 13px;ß
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  z-index: -1;
  position:absolute;
}

.blinky-dancer {
  border-color: blue;
}

.stage * {
  display: block;
  margin: auto;
  z-index: 1;
}

.dancer > img {
  width: 60px;
  height: 75px;
}

